MONGODB_URI=mongodb+srv://YOUR_USERNAME:YOUR_PASSWORD@YOUR_CLUSTER.mongodb.net/umeed_db?retryWrites=true&w=majority
PORT=5000
ADMIN_USERNAME=laiba
ADMIN_PASSWORD=umeedcloth
FRONTEND_URL=http://localhost:5000
